<h2>my dream</h2>

<p>
    太陽光，廣義的定義是來自太陽所有頻譜的電磁輻射。在地球，陽光顯而易見是當太陽在地平线之上，經過地球大氣層過濾照射到地球表面的太陽輻射，則稱為日光。
</p>
<p>
    當太陽輻射沒有被雲遮蔽，直接照射時通常被稱為陽光，是明亮的光線和輻射熱的組合。世界氣象組織定義「日照時間」是指一個地區直接接收到的陽光輻照度在每平方公尺120瓦特以上[1]。
</p>
<p>
    陽光照射的時間可以使用陽光錄影機、全天空輻射計或日射強度計來記錄。陽光需要8.3分鐘才能從太陽抵達地球。
</p>
<p>
    直接照射的陽光亮度效能約有每瓦特93流明的輻射通量，其中包括紅外線、可見光和紫外線。明亮的陽光對地球表面上提供的照度大約是每平方米100,000流明或 100,000勒克司。陽光是光合作用的關鍵因素，對於地球上的生命至關重要。
</p>