<h2>what I like to do</h2>

<p>
    3美分银币是美国铸币局于1851至1872年间生产的一种流通硬币，1873年还生产过精制币版本。硬币由铸币局首席雕刻师詹姆斯·B·朗埃克设计。联邦国会之后通过1873年铸币法案将之废除。加利福尼亚淘金潮开始后，大量黄金流入市场，白银相对黄金的价格上涨，许多美国银币因此外流或熔融。与此同时，美国的邮票费率从5美分下调至3美分，国会
</p>