{%extends'layout.html'%}
{%block head_title%}
About
{%endblock%}

{%block content%}
<div class="col page-content">
    <h1 class="text-center">
        HELLO!
    </h1>
    <p style="width:50%; margin:0 auto; padding: 25px;">
        I'm zhangbo,,I'm a single mom and an university student in concordia living in Montreal, Quebec, french province
        of Canada.
    </p>
    <p class="big" style="width:50%; margin:0 auto; padding: 25px;">
        I like all kinds of outdoor activities, I love all kinds of science fictions, I want to explore this amazing
        world more!!! Which include myself, an amazing woman!
    </p>
    <p class="big" style="width:50%; margin:0 auto; padding: 25px;">
        I come from China, I'v been living here for three years now, I like Montreal and expect to connect with you!
    </p>
</div>
{%endblock%}