{%extends'layout.html'%}
{%block head_title%}
Contact
{%endblock%}

{%block content%}
<div class="col page-content">
    <h1 class="text-center" style="padding:20px">
        How can contact me:
    </h1>

    <p class="text-center"><a href="//www.google.com">This is where you can search me: Google</a></p>
    <p class="text-center"><a href="//www.facebook.com/">I also have a Facebook page,go there to find more about me:
        Facebook</a></p>
    <P class="text-center"><a href="//github.com/">I also create my github account,but very few code, I will rich it
        later: Github</a></P>
</div>
{%endblock%}



