{%extends'layout.html'%}

{%block head_title%}
Bo's Site
{%endblock%}

{%block subtitle%}
Welcome to my world!
{%endblock%}

{%block content%}
<div class="col page-content">
    <div style="text-align: center">
        <img src="/static/images/fhWcf4kqyO-4.png" alt="" style="margin: 0 auto;">

        <h2 class="text-center">
            …OR AT LEAST MY WEBSITE
        </h2>
    </div>
    <p class="text-justify" style="width:40%; margin:0 auto;">Here is my personal website, which I want to show some of
        my
        life ,my experiences,
        I hope who visit this web can know me more, and maybe use to looking for job later.</p>

</div>
{%endblock%}