<!DOCTYPE html>
<html>
<head>
    <title>
        {%block head_title%}
        {%endblock%}
    </title>

    <link rel="stylesheet" href="/static/lib/bootstrap.min.css"/>
    <script type="text/javascript" src="/static/lib/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/lib/popper.min.js"></script>
    <script type="text/javascript" src="/static/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/layout.css"/>
    <script type="text/javascript" src="/static/layout.js"></script>

    {%block style%}
    {%endblock%}
    {%block scripts%}
    {%endblock%}

</head>

<body class="container-fluid boss" style="width:60%; margin:0 auto;">
<div class="row page-nav">
    <div class="col site-header">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <!-- Left Menus -->
                    <ul class="navbar-nav">
                        <li class="nav-item home">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mylife">MY LIFE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/history">HISTORY</a>
                        </li>
                    </ul>
                    <!-- Right Menus -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        {%if not session.get('username')%}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
            <div class="expand-menu" data-toggle="collapse" data-target="#navbarNav"
                 aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                Menu
            </div>
        </nav>
        <div class="title-area">
            <p class="site-title" itemprop="headline">
                <a href="/">Bo Zhang</a>
            </p>
        </div>
    </div>
</div>

<!-- Messages -->
<div class="container mt-3 {%if not message:%}d-none{%endif%} alert-container">
    <div class="alert alert-danger" role="alert">
        <a href="#" class="close" id="alert-close">&times;</a>
        <span class="alert-content">{{message}}</span>
    </div>
</div>

<div class="row page-title">
    <div class="col">
        <h1 class="text-center">
            {%block subtitle%}
            {%endblock%}
        </h1>
    </div>
</div>

{%block content%}
{%endblock%}


<div class="row">
    <div class="col footer text-center">
        <p class="oblique">Posted by: Bo Zhang</p>
        <p class="oblique">
            <time pubdate datetime="2020-02-25"></time>
        </p>
    </div>
</div>

</body>
</html> 

