{%extends'layout.html'%}
{%block head_title%}
Login
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="/static/login.js"></script>
{%endblock%}

{%block content%}
<div class="col page-content">
    <div class="jumbotron">
        <form action="/login" method="POST">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="username" name="username" id="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="login">login</button>
            </div>

        </form>
    </div>
</div>
{%endblock%}