{%extends'layout.html'%}
{%block head_title%}
My Life
{%endblock%}

{%block style%}
<link rel="stylesheet" href="/static/mylife.css"/>
{%endblock%}
{%block scripts%}
<script type="text/javascript" src="/static/mylife.js"></script>
{%endblock%}

{%block content%}
<div class="col page-content my-life">
    <div class="row">
        <div class="col">
            <h1 class="text-center" style="padding:20px">
                This is my life look like
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="responsive">
                <div class="img">
                    <a class="get-content" data-content="mylife/content1.html">
                        <img src="/static/images/img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
                    </a>
                    <div class="desc">what I like to do</div>
                </div>
            </div>

            <div class="responsive">
                <div class="img">
                    <a class="get-content" data-content="mylife/content2.html">
                        <img src="/static/images/img_forest.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <div class="desc">where I have went</div>
                </div>
            </div>

            <div class="responsive">
                <div class="img">
                    <a class="get-content" data-content="mylife/content3.html">
                        <img src="/static/images//img_lights.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <div class="desc">what I want</div>
                </div>
            </div>

            <div class="responsive">
                <div class="img">
                    <a class="get-content" data-content="mylife/content4.html">
                        <img src="/static/images/img_mountains.jpg" alt="Mountains" width="600" height="400">
                    </a>
                    <div class="desc">my dream</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col load-container">
        </div>
    </div>

</div>


{%endblock%}