{%extends'layout.html'%}
{%block head_title%}
Register
{%endblock%}

{%block scripts%}
<script type="text/javascript" src="/static/register.js"></script>
{%endblock%}

{%block content%}
<div class="col page-content col">
    <div class="jumbotron">
        <form action="/register" method="POST">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" placeholder="should more than 4 characters" name="username" id="username" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password1">Password</label>
                <input type="password" placeholder="password" name="password1" id="password1" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm password</label>
                <input type="password" placeholder="confirm password" name="password2" id="confirm-password"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="register">submit</button>
            </div>

        </form>
    </div>
</div>

{%endblock%}